In [1]:
from import_src import import_src
import_src()

Append /home/khiempm2/MLOpsVN/src to sys.path

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import os

In [2]:
link_data_test = '../../data/captured_data/phase-2/prob-2/'
uncertain_data = '../../data/captured_data/phase-2/prob-2/processed/'
train_data = '../../data/train_data/phase-2/prob-2/train_x.parquet'
y_data = '../../data/train_data/phase-2/prob-2/train_y.parquet'

In [3]:
len(os.listdir(link_data_test))

102

In [4]:
captured_x = pd.DataFrame()
for file_path in os.listdir(link_data_test):
    if 'parquet' not in file_path:
        continue
    captured_data = pd.read_parquet(f'{link_data_test}{file_path}')
    captured_x = pd.concat([captured_x, captured_data])

In [6]:
captured_x

,feature10,feature5,feature24,feature14,feature27,feature33,feature3,feature35,feature18,feature34,...,feature40,feature25,feature38,feature2,feature13,feature41,feature37,feature11,feature31,label
0,0.0,2.0,0.000000,0.0,0.0,15.0,2,24.0,0.000000,15.0,...,24.0,0.000000,0.0,118,0.0,0.0,0.0,5.066666e+07,2.0,NaN
1,0.0,2.0,0.000000,0.0,0.0,2.0,0,7.0,0.000000,2.0,...,7.0,0.000000,0.0,2,0.0,0.0,0.0,2.000000e+08,2.0,NaN
2,0.0,2.0,0.000000,0.0,0.0,14.0,2,14.0,0.000000,14.0,...,14.0,0.000000,0.0,118,0.0,0.0,0.0,5.066666e+07,2.0,NaN
3,252.0,10.0,0.131738,1.0,45.0,3.0,0,4.0,93.274289,2.0,...,4.0,0.063359,0.0,112,2.0,0.0,0.0,8.463635e+03,1.0,NaN
4,29.0,2.0,0.000000,0.0,81.0,1.0,2,1.0,0.000000,1.0,...,2.0,0.000000,0.0,118,0.0,0.0,0.0,5.009634e+05,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,2.0,0.000000,0.0,0.0,4.0,0,4.0,0.000000,4.0,...,4.0,0.000000,0.0,119,0.0,0.0,0.0,2.000000e+08,2.0,NaN
996,252.0,14.0,0.051488,4.0,57.0,1.0,3,2.0,127.263000,1.0,...,2.0,0.080785,0.0,112,4.0,0.0,0.0,1.709499e+04,1.0,NaN
997,252.0,10.0,0.055427,1.0,45.0,2.0,0,8.0,87.465961,1.0,...,9.0,0.060222,0.0,112,2.0,0.0,0.0,4.883485e+04,1.0,NaN
998,0.0,2.0,0.000000,0.0,0.0,1.0,0,1.0,0.000000,1.0,...,1.0,0.000000,0.0,118,0.0,0.0,0.0,1.680000e+08,2.0,NaN
999,0.0,20.0,0.000000,0.0,0.0,1.0,0,1.0,0.000000,1.0,...,1.0,0.000000,0.0,78,0.0,0.0,0.0,3.237261e+02,2.0,NaN

In [10]:
# df_cap = pd.read_parquet(f'{uncertain_data}uncertain_y.parquet')
df_train = pd.read_parquet(train_data)
y_train = pd.read_parquet(y_data)

In [11]:
y_train.value_counts()

label
Normal                   17888
Other                    11182
Exploits                  8695
Denial of Service         7702
Information Gathering     3237
Malware                    768
Name: count, dtype: int64

In [23]:
pd.concat([df_train, df_cap])

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,feature14,feature15,feature16
0,337,0,138.71,44121,39.354345,-83.372015,769341,41.359975,-80.587306,78.529290,10,1,1,6.406360,0.284834,67.097437
1,365,12,6.51,66442,35.920414,-98.480588,14283,39.439880,-96.938809,45.234461,18,2,2,6.800447,0.779245,66.892996
2,184,6,3.34,42071,36.155589,-88.412050,29655,37.220467,-88.393033,43.063620,22,2,2,8.342428,0.603699,66.288586
3,390,4,180.17,30067,31.949179,-82.265798,302309,33.430411,-84.920539,26.093487,0,3,1,8.697487,0.472254,63.834991
4,365,10,8.92,66442,40.881803,-99.983715,14283,38.770383,-95.877356,44.831443,16,5,2,6.544843,0.429824,62.746348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1784156,435,0,4.62,84062,41.801299,-112.981931,43269,40.680309,-110.768916,21.355859,18,4,7,0.832840,1.573396,69.634404
1784157,409,0,13.60,78249,27.907750,-98.167514,1595797,30.497407,-99.158541,15.459309,20,4,7,0.951437,1.276567,71.414236
1784158,-1,13,5.96,73129,35.765665,-96.717863,640470,36.354574,-98.112291,19.865920,14,1,8,1.206678,1.545223,78.649840
1784159,439,1,2.13,79924,30.362908,-104.041500,749635,31.127168,-107.042811,21.037243,18,5,7,1.305576,1.672350,77.294895
1784160,98,11,83.33,8854,38.694247,-72.789582,55961,41.246311,-74.372856,24.932095,12,5,6,0.797693,1.942086,77.461570

In [38]:
df_cap.value_counts()

label
0        475110
1         76060
Name: count, dtype: int64

In [40]:
import mlflow
from mlflow import *
from mlflow.models.signature import infer_signature

In [42]:
mlflow.set_tracking_uri('http://localhost:5000')

In [66]:
mlflow.tracking.MlflowClient(tracking_uri='http://localhost:5000').restore_experiment(14)

RestException: RESOURCE_DOES_NOT_EXIST: No Experiment with id=14 exists

In [49]:
a.restore_experiment(experiment_id='phase-1_prob-2_lgbm__add_captured_data')

TypeError: MlflowClient.restore_experiment() missing 1 required positional argument: 'self'